<footer>
    <div class="footer-container">
        <div class="footer-content">
            <img src="assets/images/mon_profile.JPG" class="profile-image">
            <h2>À propos du Développeur</h2>
            <p>Développé par Elodie ANDRIAMAHANINTSOA, un passionné de technologie et de développement web.</p>
            <ul class="social-links">
                <li><a href="https://github.com/Andriamah" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/elodie-andriamahanintsoa-967959237/" target="_blank">LinkedIn</a></li>
                <li><a href="mailto:andriamahanintsoelo@gmail.com">Email</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Elodie ANDRIAMAHANINTSOA Tous droits réservés.</p>
        </div>
    </div>
  </footer>
  