<div>
  <div class="background-header">

    <div class="content">
      <div class="detail-content">
        <div class="title1-content">PLONGEZ DANS L'ART</div>
        <div class="title2-content">Exploration Artistique</div>
        <div class="desc-content">Bienvenue dans l'univers de l'expression où chaque pixel est une note de couleur, chaque ligne est une mélodie, et chaque coup de pinceau une histoire à découvrir</div>
        <hr class="ligne-haut">
        <div class="action-line"><a href="#">ARTWORK</a></div>
        <hr class="ligne-bas">
      </div>
    </div>
  </div>
</div>
