$whiteColor: #fff;
$colorLine:#1a4b32;
$backgroundColor:#fbf4e2;
.caroussel3D{
  height:100vh;
}

.ligne-footer-header{
  border: none;
  height: 4px;
  background-color: $colorLine;
}
.accueil{
  background-color:$backgroundColor;
}
