
<script>
  document.querySelector('.img__btn').addEventListener('click', function() {
    console.log('makato')
    document.querySelector('.cont').classList.toggle('s--signup');n
  });
  </script>
  <div style="background-color: #374151;" class="login">
    <div class="cont">
      <div class="form sign-in">
        <h2>INSCRIPTION</h2>
        <label>
          <span>Name</span>
          <input type="text" />
        </label>
        <label>
          <span>Email</span>
          <input type="email" />
        </label>
        <label>
          <span>Password</span>
          <input type="password" />
        </label>
        <!-- <p class="forgot-pass">Forgot password?</p> -->
        <button type="button" class="submit">S'inscrire</button>
      </div>
      <div class="sub-cont">
        <div class="img">
          <div class="img__text m--up">
          <h2>Un de nous ?</h2>
            <p>Si vous avez déjà un compte, connectez-vous simplement. Nous vous avons manqué !</p>
          </div>
          <!-- <div class="img__text m--in">
            <h2>One of us?</h2>
            <p>If you already has an account, just sign in. We've missed you!</p>
          </div> -->
          <!-- <a href="/login">Se connecter</a> -->
        <a href="/login">
          <div  class="img__btn">
            <span  class="m--up">Login</span>
            <!-- <button [routerLink]="['/home']" routerLinkActive="router-link-active"  class="img__btn">Toggle Signup</button> -->
            <span class="m--in">Sign In</span>
          </div>
        </a>
        </div>
        <div class="form sign-up">
          <h2>Time to feel like home,</h2>
          <label>
            <span>Name</span>
            <input type="text" />
          </label>
          <label>
            <span>Email</span>
            <input type="email" />
          </label>
          <label>
            <span>Password</span>
            <input type="password" />
          </label>
          <button type="button" class="submit">Sign Up</button>
          <button type="button" class="fb-btn">Join with <span>facebook</span></button>
        </div>
      </div>
    </div>
  </div>
  <!-- <script>
  document.querySelector('.img__btn').addEventListener('click', function() {
    document.querySelector('.cont').classList.toggle('s--signup');
  });
  </script> -->
